[Unit]
Description=GNOME Display Manager
After=rc-local.service systemd-user-sessions.service
Conflicts=plymouth-quit.service

[Service]
ExecStartPre=/bin/plymouth quit
ExecStart=/usr/sbin/gdm -nodaemon

[Install]
WantedBy=graphical.target
