[Unit]
Description=GNOME Display Manager
After=rc-local.service systemd-user-sessions.service plymouth-transition.service

[Service]
ExecStart=/usr/sbin/gdm -nodaemon

[Install]
WantedBy=graphical.target
Also=plymouth-transition.service
