[Unit]
Description=K Display Manager
After=rc-local.service systemd-user-sessions.service
Conflicts=plymouth-quit.service

[Service]
ExecStart=/usr/bin/kdm -nodaemon tty7
ExecStartPost=/usr/bin/wait-and-quit_plymouth

[Install]
WantedBy=graphical.target
